<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <meta charset = "UTF-8">
  <link rel = "stylesheet" href = "../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel= "stylesheet" href="../../css/styles.css"/>
  <script src ="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title> Widget List </title>
</head>

<body>
  <div class="container-fluid">
    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h1>A Heading of size 1</h1>
    </div>
    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
    <h2>A Heading of size 1</h2>
    </div>
    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <img width="100%" src="http://lorempixel.com/400/200" />
    </div>
    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <p id="speakable-summary">Shopping may be turning into an increasingly virtual experience,
        with people buying goods online and through apps, but there is no denying the power of a physical
        in-store experience — a lesson that Microsoft is taking to heart. Today the company <a target="_blank"
        href="https://blogs.microsoft.com/blog/2017/09/21/flagship-microsoft-store-planned-regent-street-london/"
        rel="noopener">announced</a>&nbsp;it will be opening a new flagship store in London in Regent
        Street near Oxford Circus — just a stone’s (or an iPhone’s) throw from the
        Apple flagship store that saw a <a target="_blank"
        href="https://techcrunch.com/2016/10/13/come-take-a-peek-inside-apples-new-regent-street-flagship-store-in-london/"
        rel="noopener">huge revamp</a> a year ago.
      </p>
    </div>

    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <iframe width="560" height="315"
              src="https://www.youtube.com/embed/li41sHoxqZQ"
              frameborder="0" allowfullscreen>
      </iframe>
    </div>

  </div>

</body>
</html>
