<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <meta charset = "UTF-8">
  <link rel = "stylesheet" href = "../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel= "stylesheet" href="../../css/styles.css"/>
  <script src ="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title> Widget List </title>
</head>

<body class="ssn-widget-body">
<div class = "ssn-widget">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a class="navbar-brand ssn-navbar" href="../page/page-list.html">
          <div class="glyphicon glyphicon-chevron-left"></div>
          Widgets
        </a>
      </div>

      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="widget-chooser.html" class="ssn-glyphicon-black glyphicon glyphicon-plus pull-right"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

  <div class="container-fluid">
    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <a href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h1>A Heading of size 1</h1>
    </div>
    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <a href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
    <h2>A Heading of size 1</h2>
    </div>
    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <a href="widget-image.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <img width="100%" src="http://lorempixel.com/400/200" />
    </div>
    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <a href="widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <p id="speakable-summary">Shopping may be turning into an increasingly virtual experience,
        with people buying goods online and through apps, but there is no denying the power of a physical
        in-store experience — a lesson that Microsoft is taking to heart. Today the company <a target="_blank"
        href="https://blogs.microsoft.com/blog/2017/09/21/flagship-microsoft-store-planned-regent-street-london/"
        rel="noopener">announced</a>&nbsp;it will be opening a new flagship store in London in Regent
        Street near Oxford Circus — just a stone’s (or an iPhone’s) throw from the
        Apple flagship store that saw a <a target="_blank"
        href="https://techcrunch.com/2016/10/13/come-take-a-peek-inside-apples-new-regent-street-flagship-store-in-london/"
        rel="noopener">huge revamp</a> a year ago.
      </p>
    </div>

    <div class="ssn-widget">
      <div class="ssn-widget-toolbar">
        <a href="widget-youtube.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <div class="video-container">
      <iframe width="560" height="315"
              src="https://www.youtube.com/embed/li41sHoxqZQ"
              frameborder="0" allowfullscreen>
      </iframe>
      </div>
    </div>

  </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a href="../user/profile.html" class="navbar-link">
          <span class="ssn-glyphicon-black glyphicon glyphicon-user">
                     </span>
      </a>
    </div>

      <div class="navbar-text pull-left">
        <a href="#" class="navbar-link">
          <span class="ssn-glyphicon-black glyphicon glyphicon-play"></span>
          <span class="ssn-glyphicon-black glyphicon glyphicon-eye-open"></span>
        </a>
      </div>
  </div>
</nav>

</body>
</html>
