<!--<div *ngFor="let w of widget" class="container-fluid">-->
  <!--<div [ngSwitch] = 'w.widgetType'>-->
    <!--<div *ngSwitchCase="'Heading'">-->
      <!--<app-widget-header></app-widget-header>-->
    <!--</div>-->
    <!--<div *ngSwitchCase="'IMAGE'">-->
      <!--<app-widget-image></app-widget-image>-->
    <!--</div>-->
    <!--<div *ngSwitchCase="'YOUTUBE'">-->
      <!--<app-widget-youtube></app-widget-youtube>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class = "ssn-widget">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a class="navbar-brand ssn-navbar" [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
          <div class="glyphicon glyphicon-chevron-left"></div>
          Widget Edit
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a (click)="update">
                             <span class="glyphicon glyphicon glyphicon-ok">
                             </span>
        </a>
      </div>

    </div><!-- /.container-fluid -->
  </nav>
</div>
<br><br><br>
<!--<div class="container-fluid">-->
  <!--<form>-->
    <!--<div class="form-group">-->
      <!--<label>Name</label>-->
      <!--<input type="text" class="form-control" placeholder="Name">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Text</label>-->
      <!--<input type="text" class="form-control" placeholder="abcd">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>URL</label>-->
      <!--<input type="url" class="form-control" placeholder="xyz.com">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label>Width</label>-->
      <!--<input type="range" class="form-control" placeholder="100%">-->
    <!--</div>-->
    <!--<a href = "widget-list.html" class="btn btn-danger btn-block">Delete</a>-->
  <!--</form>-->



<!--</div>-->
<div class="container-fluid">
  <div [ngSwitch] = 'widgetType'>
  <div *ngSwitchCase="'HEADER'">
    <app-widget-header></app-widget-header>
  </div>
  <div *ngSwitchCase="'IMAGE'">
    <app-widget-image></app-widget-image>
  </div>
  <div *ngSwitchCase="'YOUTUBE'">
    <app-widget-youtube></app-widget-youtube>
  </div>
  <div *ngSwitchCase="'HTML'">
    <app-widget-html></app-widget-html>
  </div>
  <div *ngSwitchCase="'TEXT'">
    <app-widget-text></app-widget-text>
  </div>


  </div>
  </div>


