<div class = "ssn-widget">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <a class="navbar-brand ssn-navbar"
           [routerLink]="['/user', userId, 'website', websiteId, 'page']">
          <div class="glyphicon glyphicon-chevron-left"></div>
          Widgets
        </a>
      </div>

      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']"
               class="ssn-glyphicon-black glyphicon glyphicon-plus pull-right"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br><br><br>

<div *ngFor="let widget of widgets">
  <div [ngSwitch]="widget['widgetType']">
    <div *ngSwitchCase="'HEADING'">
      <div class="row">
        <div class="col-xs-12">
          <div [ngSwitch]="widget['size']">
            <div *ngSwitchCase="1">
              <h1>{{widget['text']}}</h1>
            </div>
            <div *ngSwitchCase="2">
              <h2>{{widget['text']}}</h2>
            </div>
            <div *ngSwitchCase="3">
              <h3>{{widget['text']}}</h3>
            </div>
            <div *ngSwitchCase="4">
              <h4 >{{widget['text']}}</h4>
            </div>
          </div>
          <div class="dg-widget-toolbar">
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget['_id']]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'YOUTUBE'">
      <div class="row">
        <div class="col-xs-12">
          <iframe [width]="widget['width']"
                  height="300"
                  [src]="safeUrl(widget['url'])">
          </iframe>
          <div class="dg-widget-toolbar">
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget['_id']]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'IMAGE'">
      <div class="row">
        <div class="col-xs-12">
          <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
            <img [style.width]="widget['width']"
                 [src]="safeUrl(widget['url'])">
          </a>
          <div class="dg-widget-toolbar">
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget['_id']]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'HTML'">
      <div class="row">
        <div class="col-xs-12">
          <div [innerHTML]="widget['text']">
          </div>
          <div class="dg-widget-toolbar">
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget['_id']]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a href="../user/profile.html" class="navbar-link">
          <span class="ssn-glyphicon-black glyphicon glyphicon-user">
                     </span>
      </a>
    </div>

    <div class="navbar-text pull-left">
      <a href="#" class="navbar-link">
        <span class="ssn-glyphicon-black glyphicon glyphicon-play"></span>
        <span class="ssn-glyphicon-black glyphicon glyphicon-eye-open"></span>
      </a>
    </div>
  </div>
</nav>
