<div class="container-fluid">

  <label for="username"> Username </label>
    <input id ="username" type="text"
           value=username
           [(ngModel)] = "username"
         readonly
         placeholder="username"
         class="form-control"/>

  <!--<label for="email">Email</label>-->
  <!--<input id="email" type="email"-->
         <!--placeholder="abc@xyz.com"-->
         <!--class="form-control"/>-->

  <label for="firstName"> First Name </label>
  <input id ="firstName" type="text"
         [(ngModel)] = "firstName"
         placeholder="Alice"
         class="form-control"/>

  <label for="lastName"> Last Name </label>
  <input id ="lastName" type="text"
         [ngModel]="lastName"

         placeholder="Wonderland"
         class="form-control"/>

  <!--<a href="../website/website-list.html" class="btn btn-primary btn-block">-->
    <!--Websites-->
  <!--</a>-->
  <a routerLink="/user/{{userId}}/website" class="btn btn-primary btn-block">
    Websites
  </a>
  <a (click)="deleteUser(user)" class="btn btn-danger btn-block">
    Delete User
  </a>
  <a (click)="updateUser(user)" class="btn btn-success btn-block">
    Update User
  </a>
  <a (click)="logout()" class="btn btn-danger btn-block">
    Logout
  </a>
</div>

