<div class="container-fluid">
  <h1> Login </h1>
  <input [(ngModel)] = "username"
         type="text"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)] = "password"
         id="password" type="password"
         placeholder="password"
         class="form-control"/>
  <a (click)="login(username, password)" class="btn btn-primary btn-block">
    Login
  </a>
  <a href="http://localhost:3100/auth/facebook" class="btn btn-primary btn-block">
    <span class="fa fa-facebook"></span>
    Facebook
  </a>
  <a routerLink="/register" class="btn btn-success btn-block">
    Register
  </a>
</div>
