<nav id = "page-nav" class="navbar navbar-default navbar-fixed-top">

  <div class="navbar-text pull-left" style="margin-left: 0px;">
    <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
      <span class="glyphicon glyphicon-chevron-left pull-left"></span>    </a>
  </div>

  <div class="navbar-header">
    <a class="navbar-brand">
      Widget Edit
    </a>
  </div>

  <div class="navbar-text pull-right">
    <a (click)="createWidget(text)">
      <span class="glyphicon glyphicon-ok pull-left"></span>
    </a>
  </div>

</nav>

<div class="container-fluid" style="margin-top: 70px">
  <form>
    <div class="form-group">
      <label>
        Text
      </label>
      <quill-editor [(ngModel)]="text" name="text"></quill-editor>
    </div>
    <div class="form-group">
      <a (click)="updateWidget(text)"
         class="btn btn-primary btn-block">
        Update Widget
      </a>
    </div>
    <div class="form-group">
      <a (click)="deleteWidget()"
         class="btn btn-danger btn-block">
        Delete
      </a>
    </div>
  </form>
</div>

<footer id="foot-nav" class="footer">
  <div class="container-fluid">
    <a [routerLink]="['/user', userId]">
      <span class="glyphicon glyphicon-user pull-right" style="font-size: 30px"></span>
    </a>
  </div>
</footer>
