<!--Header -->
<nav class="ssn-page-navbar-color navbar navbar-default navbar-fixed-top active">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-xs-4 hidden-xs">
        <div class="">

          <div class="navbar-text pull-right">
            <a href="#" class="ssn-glyphicon-white navbar-link active">
              <span class="ssn-glyphicon-black glyphicon glyphicon-plus"></span>
            </a>
          </div>


          <div class="navbar-text pull-left">
            <a href="website-list.html"
               class="ssn-glyphicon-white navbar-link active">
              <span class="ssn-glyphicon-black glyphicon glyphicon-chevron-left"></span>
            </a>
          </div>

          <div class="navbar-header">
            <a class="ssn-color-white navbar-brand ssn-navbar" >
              <div class="ssn-glyphicon-black"> Websites</div>
            </a>
          </div>
        </div>
      </div>

      <div class=" col-sm-12 col-sm-8 hidden-xs">
        <div class="navbar-text pull-right">
          <a class="ssn-glyphicon-black navbar-link"
             (click)="updatePage(pages)">
            <span class="ssn-glyphicon-black glyphicon glyphicon glyphicon-ok"></span>
          </a>
        </div>

        <div class=" navbar-header">
          <a class="ssn-color-white navbar-brand ssn-navbar">
            <div class="ssn-glyphicon-black"> Edit Page</div>
          </a>
        </div>

      </div>
      <div class=" col-xs-12 visible-xs">
        <div class="navbar-text pull-right">
          <a (click)="updatePage(pages)"
             class=" navbar-link">
            <span class="ssn-glyphicon-black glyphicon glyphicon glyphicon-ok"></span>
          </a>
        </div>

        <div class="navbar-text pull-left">
          <a class="navbar-link active" href="page-list.html">
                     <span class="ssn-glyphicon-black glyphicon glyphicon-chevron-left">
                     </span>
          </a>
        </div>

        <div class="navbar-header">
          <a class="navbar-brand ssn-navbar" >
            <div class="ssn-glyphicon-black"> Edit Page </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</nav>
<br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="ssn-profile col-xs-4 hidden-xs">
      <div class="" >
        <ul class="list-group">
          <li *ngFor="let p of pages" class="ssn-border-none list-group-item">
            {{p.name}}
            <a href="website-edit-trial.html"
               class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8">
      <div class = "ssn-profile">
        <label>Page Name</label>
        <input [ngModel]="pages?.name" (ngModelChange)="pages.name = $event"

               class="form-control"/>
        <label>Page Description</label>
        <textarea [ngModel]="pages?.description" (ngModelChange)="pages.description = $event" class="form-control"></textarea>
        <br>
        <a (click)="deletePage(pages)" class="btn btn-danger btn-block">
          Delete
        </a>
      </div>
    </div>
  </div>

  <!--Footer -->
  <nav class="ssn-page-navbar-color navbar navbar-default  navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-text pull-right">
        <a href="../user/profile.html"
           class="navbar-link">
          <span class="ssn-glyphicon-black glyphicon glyphicon-user"></span>
        </a>
      </div>
    </div>
  </nav>
