<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <meta charset = "UTF-8">

  <link rel = "stylesheet"
        href = "../../vendors/bootstrap/dist/css/bootstrap.min.css"/>

  <link rel= "stylesheet"
        href="../../css/styles.css"/>

  <script src ="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>

  <title> Website Edit </title>
</head>

<body>
    <!--<h1> Website Edit </h1>-->

    <div class="row">
      <!--<div class = "ssn-profile">-->
        <!--<nav class="navbar navbar-default navbar-fixed-top">-->
          <!--<div class="container-fluid">-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--<div class="navbar-header visible-lg visible-md visible-sm">-->
              <!--<a class="navbar-brand ssn-navbar" href="#">-->
                <!--<div class="glyphicon glyphicon-chevron-left"></div>-->
                <!--Websites-->

              <!--</a>-->
            <!--</div>-->


            <!--<div class="navbar-collapse" id="bs-example-navbar-collapse-1">-->
              <!--&lt;!&ndash; Edited navbar-right to pull-right to align the cog and user glyphicon &ndash;&gt;-->
              <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#" class="glyphicon glyphicon-ok pull-right"></a></li>-->

              <!--</ul>-->
            <!--</div>-->

            <!-- /.navbar-collapse -->
          <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
        <!--</nav>-->
      <!--</div>-->

      <div class="col-sm-3 hidden-xs">

        <ul class="list-group">
          <li class=" active ssn-border-none list-group-item">
            <div class="glyphicon glyphicon-chevron-left"></div>

            Websites

            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-plus glyphicon" style="color: white"></span>
            </a>
          </li>

            <!--<nav class="ssn-edit-website navbar navbar-default navbar-fixed-top">-->



            <!--<div class="navbar-collapse" id="bs-example-navbar-collapse-1">-->
              <!-- Edited navbar-right to pull-right to align the cog and user glyphicon -->
              <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li>-->
                  <!--<a href="#" class="glyphicon glyphicon-ok pull-right"></a>-->
                <!--</li>-->
              <!--</ul>-->


            <!--</div>-->




          <li class="ssn-border-none list-group-item">
            Blogging App
            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
          <li class="ssn-border-none list-group-item">
            Address Book App
            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
          <li class="ssn-border-none list-group-item">
            Script Testing App
            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
          <li class="ssn-border-none list-group-item">
            Blogger
            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
        </ul>
      </div>

          <div class="container-fluid">
            <div class="col-sm-9 ">

              <nav class="ssn-edit-website navbar navbar-default navbar-fixed-top ">
                  <div class="navbar-header">
                    <a class="ssn-color-white navbar-brand ssn-navbar" href="#">
                      <div class="ssn-color-white glyphicon glyphicon-chevron-left"></div>
                      Edit Website
                    </a>
                  </div>
                  <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Edited navbar-right to pull-right to align the cog and user glyphicon -->
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#" class="glyphicon glyphicon-ok pull-right"></a></li>
                    </ul>
                  </div>
                </nav>


            <div class = "ssn-profile">
            <label>Website Name</label>
            <input class="form-control"/>
            <label>Website Description</label>
            <textarea class="form-control"></textarea>
            <br>
            <a href="website-edit-trial.html" class="btn btn-danger btn-block">
              Delete
            </a>
          </div></div></div>


    <!-- Footer -->
  <div class = "ssn-profile">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- Edited navbar-right to pull-right to align the cog and user glyphicon -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="glyphicon glyphicon-user pull-right"></a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
    </div>
</body>
</html>
