<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <meta charset = "UTF-8">
  <link rel = "stylesheet"
        href = "../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel= "stylesheet"
        href="../../css/styles.css"/>
  <script src ="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title> Page List </title>
</head>

<body>
<div class = "ssn-profile">
  <nav class="ssn-page-navbar-color navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="ssn-glyphicon-black navbar-brand ssn-navbar"
           href="../website/website-list.html">
          <div class="ssn-glyphicon-black glyphicon glyphicon-chevron-left"></div>
          Pages
        </a>
      </div>

      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="page-new.html"
                 class="ssn-glyphicon-black glyphicon glyphicon-plus pull-right">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul class="list-group">
  <li class="ssn-hide-border list-group-item">
    <a href="../widget/widget-list.html"> Blog Post</a>
    <a href="page-edit.html"
       class="pull-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </li>
  <li class="ssn-hide-border list-group-item">
    <a href="../widget/widget-list.html">Blogs</a>
    <a href="page-edit.html"
       class="pull-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </li>
  <li class="ssn-hide-border list-group-item">
    <a href="../widget/widget-list.html">Home</a>
    <a href="page-edit.html"
       class="pull-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </li>
  <li class="ssn-hide-border list-group-item">
    <a href="../widget/widget-list.html">About</a>
    <a href="page-edit.html"
       class="pull-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </li>
  <li class="ssn-hide-border list-group-item">
    <a href="../widget/widget-list.html">Contact us</a>
    <a href="page-edit.html"
       class="pull-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </li>
</ul>




<div class = "ssn-profile">
  <nav class="ssn-page-navbar-color navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../user/profile.html"
                 class="ssn-glyphicon-black glyphicon glyphicon-user pull-right">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


</body>
</html>
