<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <meta charset = "UTF-8">

  <link rel = "stylesheet"
        href = "../../vendors/bootstrap/dist/css/bootstrap.min.css"/>

  <link rel= "stylesheet"
        href="../../css/styles.css"/>

  <script src ="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>

  <title> Page Edit </title>
</head>

<body>

<nav class="ssn-page-navbar-color navbar navbar-default navbar-fixed-top active">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-xs-4 hidden-xs">
        <div class="">
          <div class="navbar-text pull-right">
            <a href="#" class="ssn-glyphicon-white navbar-link active">
                     <span class="ssn-glyphicon-black glyphicon glyphicon-plus">
                     </span>
            </a>
          </div>


          <div class="navbar-text pull-left">
            <a href="website-list.html" class="ssn-glyphicon-white navbar-link active">
                     <span class="ssn-glyphicon-black glyphicon glyphicon-chevron-left">
                     </span>
            </a>
          </div>

          <div class="navbar-header">
            <a class="ssn-color-white navbar-brand ssn-navbar" >
              <div class="ssn-glyphicon-black"> Websites</div>
            </a>
          </div>


        </div>

      </div>


      <div class=" col-sm-12 col-sm-8 hidden-xs">

        <div class="navbar-text pull-right">
          <a class="ssn-glyphicon-black navbar-link">
                             <span class="ssn-glyphicon-black glyphicon glyphicon glyphicon-ok">
                             </span>
          </a>
        </div>

        <div class=" navbar-header">
          <a class="ssn-color-white navbar-brand ssn-navbar" >
            <div class="ssn-glyphicon-black"> Edit Page</div>
          </a>
        </div>

      </div>
      <div class=" col-xs-12 visible-xs">

        <div class="navbar-text pull-right">
          <a href="#" class=" navbar-link">
                             <span class="ssn-glyphicon-black glyphicon glyphicon glyphicon-ok">
                             </span>
          </a>
        </div>
        <div class="navbar-text pull-left">
          <a class="navbar-link active">
                     <span class="ssn-glyphicon-black glyphicon glyphicon-chevron-left">
                     </span>
          </a>
        </div>

        <div class="navbar-header">
          <a class="navbar-brand ssn-navbar" >
            <div class="ssn-glyphicon-black"> Edit Page </div>
          </a>
        </div>

      </div>
    </div>
  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    <div class="ssn-profile col-xs-4 hidden-xs">
      <div class="" >
        <ul class="list-group">
          <li class="ssn-border-none list-group-item">
            Blogging App
            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
          <li class="ssn-border-none list-group-item">
            Address Book App
            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
          <li class="ssn-border-none list-group-item">
            Script Testing App
            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
          <li class="ssn-border-none list-group-item">
            Blogger
            <a href="website-edit-trial.html" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8">
      <div class = "ssn-profile">
        <label>Website Name</label>
        <input class="form-control"/>
        <label>Website Description</label>
        <textarea class="form-control"></textarea>
        <br>
        <a href="website-edit-trial.html" class="btn btn-danger btn-block">
          Delete
        </a>
      </div>



    </div>
  </div>

  <nav class="ssn-page-navbar-color navbar navbar-default  navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-text pull-right">
        <a href="website-edit-trial.html" class="navbar-link">
                     <span class="ssn-glyphicon-black glyphicon glyphicon-user">
                     </span>
        </a>
      </div>



    </div>
  </nav>

</div>
</body>
</html>
