<div class = "ssn-widget">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a class="navbar-brand ssn-navbar" routerLink='/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget/'>
          <div class="glyphicon glyphicon-chevron-left"></div>
          Choose Widget
        </a>
      </div>

    </div><!-- /.container-fluid -->
  </nav>
</div>
<br><br><br>
<div *ngFor="let w of widget " class="container-fluid">
  <div [ngSwitch]="w.widgetType" class="ssn-widget">
    <div  *ngSwitchCase="'HEADING'" class="ssn-widget-toolbar">
      <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget/{{w._id}}">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
      {{w.widgetType}}
    </div>

    <div  *ngSwitchCase="'IMAGE'" class="ssn-widget-toolbar">
      <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget/{{w._id}}">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
      <img width="100%" src="http://lorempixel.com/400/200" />
    </div>
    <br>
    <div *ngSwitchCase="'YOUTUBE'" class="ssn-widget-toolbar">
      <a routerLink="/user/{{userId}}/website/{{webId}}/page/{{pageId}}/widget/{{w._id}}">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>


      <div class="video-container">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/li41sHoxqZQ"
                frameborder="0" allowfullscreen>
        </iframe>
      </div>

    </div>
<!--<div class="ssn-widget">-->
  <!--<ul class="list-group">-->
    <!--&lt;!&ndash;<li class="active list-group-item">&ndash;&gt;-->
    <!--&lt;!&ndash;Name&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--<li *ngFor="let w of widget" class="ssn-hide-border list-group-item">-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-xs-9 col-sm-6 col-md-3">&ndash;&gt;-->
       <!--{{w.widgetType}}-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-md-3 hidden-xs hidden-sm">&ndash;&gt;-->
      <!--&lt;!&ndash;01/01/2017&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">&ndash;&gt;-->
      <!--&lt;!&ndash;Suraj&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->



    <!--</li>-->
    <!--<li class="ssn-hide-border list-group-item">-->
      <!--<a href="widget-image.html"> Image </a>-->

    <!--</li>-->
    <!--<li class="ssn-hide-border list-group-item">-->
      <!--<a href="widget-image.html"> HTML </a>-->
    <!--</li>-->
    <!--<li class="ssn-hide-border list-group-item">-->
      <!--<a href="widget-image.html"> Link </a>-->
    <!--</li>-->
    <!--<li class="ssn-hide-border list-group-item">-->
      <!--<a href="widget-image.html"> Button </a>-->
    <!--</li>-->
    <!--<li class="ssn-hide-border list-group-item">-->
      <!--<a href="widget-heading.html"> Header </a>-->
    <!--</li>-->

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a href="../user/profile.html" class="navbar-link">
          <span class="ssn-glyphicon-black glyphicon glyphicon-user">
                     </span>
      </a>
    </div>
  </div>
</nav>
