<div class = "ssn-widget">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a class="navbar-brand ssn-navbar" href="widget-list.html">
          <div class="glyphicon glyphicon-chevron-left"></div>
          Choose Widget
        </a>
      </div>

    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="ssn-widget">
  <ul class="list-group">
    <!--<li class="active list-group-item">-->
    <!--Name-->
    <!--</li>-->
    <li class="ssn-hide-border list-group-item">
      <!--<div class="row">-->
      <!--<div class="col-xs-9 col-sm-6 col-md-3">-->
      <a href="widget-youtube.html"> YouTube </a>
      <!--</div>-->
      <!--<div class="col-md-3 hidden-xs hidden-sm">-->
      <!--01/01/2017-->
      <!--</div>-->
      <!--<div class="col-xs-3 col-sm-3 col-md-3 hidden-xs">-->
      <!--Suraj-->
      <!--</div>-->



    </li>
    <li class="ssn-hide-border list-group-item">
      <a href="widget-image.html"> Image </a>

    </li>
    <li class="ssn-hide-border list-group-item">
      <a href="widget-image.html"> HTML </a>
    </li>
    <li class="ssn-hide-border list-group-item">
      <a href="widget-image.html"> Link </a>
    </li>
    <li class="ssn-hide-border list-group-item">
      <a href="widget-image.html"> Button </a>
    </li>
    <li class="ssn-hide-border list-group-item">
      <a href="widget-heading.html"> Header </a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a href="../user/profile.html" class="navbar-link">
          <span class="ssn-glyphicon-black glyphicon glyphicon-user">
                     </span>
      </a>
    </div>
  </div>
</nav>
