
<nav class="navbar navbar-default navbar-fixed-top active">
<div class="container-fluid">
  <div class="row">
    <div class="ssn-edit-website col-xs-4 hidden-xs">
      <div class="">
        <div class="navbar-text pull-right">
          <a href="website-new.html" class="ssn-glyphicon-white navbar-link active">
                     <span class="glyphicon glyphicon-plus">
                     </span>
          </a>
        </div>


        <div class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'website']" class="ssn-glyphicon-white navbar-link active">
                     <span class="glyphicon glyphicon-chevron-left">
                     </span>
          </a>
        </div>

        <div class="navbar-header">
          <a class="ssn-color-white navbar-brand ssn-navbar" >
            Websites
          </a>
        </div>


      </div>

    </div>


    <div class="ssn-edit-website col-sm-12 col-sm-8 hidden-xs">

      <div class="navbar-text pull-right">
        <a (click)="createWebsite(this.web)" class="ssn-glyphicon-white navbar-link">
                             <span class="glyphicon glyphicon glyphicon-ok">
                             </span>
        </a>
      </div>

      <div class="ssn-edit-website navbar-header">
        <a class="ssn-color-white navbar-brand ssn-navbar" >
          New Website
        </a>
      </div>

    </div>
    <div class="ssn-edit-website col-xs-12 visible-xs">

      <div class="navbar-text pull-right">
        <a (click)="createWebsite(this.web)" class="ssn-glyphicon-white navbar-link">
                             <span class="glyphicon glyphicon glyphicon-ok">
                             </span>
        </a>
      </div>
      <div class="navbar-text pull-left">
        <a class="ssn-glyphicon-white navbar-link active" [routerLink]="['/user', userId, 'website']">
                     <span class="glyphicon glyphicon-chevron-left">
                     </span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="ssn-color-white navbar-brand ssn-navbar" >
          New Website
        </a>
      </div>

    </div>
  </div>
</div>

</nav>
<br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="ssn-profile col-xs-4 hidden-xs">
      <div class="" >
        <ul class="list-group">
          <li *ngFor="let w of web" class="ssn-border-none list-group-item">
            {{w.name}}
            <a href="#" class="pull-right">
              <span class="glyphicon-cog glyphicon"></span>
            </a>
          </li>
          <!--<li class="ssn-border-none list-group-item">-->
            <!--Address Book App-->
            <!--<a href="#" class="pull-right">-->
              <!--<span class="glyphicon-cog glyphicon"></span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="ssn-border-none list-group-item">-->
            <!--Script Testing App-->
            <!--<a href="#" class="pull-right">-->
              <!--<span class="glyphicon-cog glyphicon"></span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="ssn-border-none list-group-item">-->
            <!--Blogger-->
            <!--<a href="#" class="pull-right">-->
              <!--<span class="glyphicon-cog glyphicon"></span>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>


    <div class="col-xs-12 col-sm-8">
      <div class = "ssn-profile">
        <label>Website Name</label>
        <input [ngModel]="this.web?.name" (ngModelChange)="this.web.name = $event" class="form-control"/>
        <label>Website Description</label>
        <textarea [ngModel]="this.web?.description" (ngModelChange)="this.web.description = $event" class="form-control"></textarea>
      </div>



    </div>
  </div>

  <nav class="navbar navbar-default ssn-edit-website navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-text pull-right">
        <a href="../user/profile.html" class="navbar-link">
                     <span class="ssn-glyphicon-white glyphicon glyphicon-user">
                     </span>
        </a>
      </div>



    </div>
  </nav>
