
<div class = "ssn-widget">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a class="navbar-brand ssn-navbar" [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
          <div class="glyphicon glyphicon-chevron-left"></div>
          Widget Edit
        </a>
      </div>

      <div class="navbar-text pull-right">
        <a class="ssn-glyphicon-black navbar-link" (click)="createWidget()"
           [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
          <span class="glyphicon glyphicon glyphicon-ok">       </span>
        </a>
      </div>

    </div><!-- /.container-fluid -->
  </nav>
</div>
<br><br><br>
<div class="ssn-widget">
  <div class="container-fluid">
    <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
      <input  name="myFile"   type="file" class="form-control"/>
      <input  name="widgetId" value="{{widgetId}}"   style="display: none"/>
      <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
      <input  name="pageId" value="{{pageId}}"   style="display: none"/>
      <input  name="userId" value="{{userId}}"   style="display: none"/>
      <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
      <br/>
    </form>

  </div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]"
         class="navbar-link">
        <span class="ssn-glyphicon-black glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

